.header {
  .header-wrapper {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    padding: 15px 0;
    .header-left {
      .logo-wrapper {
      }
    }
    .header-right {
      display: flex;
      flex-direction: row;
      align-self: center;
      justify-content: flex-end;
    }
  }
  .main-menu {
    text-align: right;
    .menu-item {
      display: inline-block;
      a {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 23px;
        color: $text-gray;
        padding: 0 20px;
        @extend .primary-transition;
        &:hover {
          color: $theme-red;
        }
      }
    }
  }
}