body {
  margin: 0;
  * {
    margin-top: 0;
  }
  p, .p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5;
    color: $text-gray;
  }
  h1, .h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: .02em;
    line-height: 1.2;
    color: #000;
    margin-bottom: 15px;
  }

  h2, .h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1.2;
    color: #000;
    a {
      font-family: 'Montserrat', sans-serif;
      font-size: 34px;
      font-weight: 400;
      letter-spacing: 0;
      line-height: 1.2;
      color: #000;
      &:hover {
        color: $theme-red;
      }
    }
  }

  h3, .h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: .02em;
    line-height: 1.2;
    color: #000;
  }
  h4, .h4 {
    font-size: 60px;
    font-family: "Playfair Display", sans-serif;
    font-weight: 400;
    color: #fff;
    line-height: 1.2;
    letter-spacing: .02em;
  }
  a, .link,
  .entry-content p a {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5;
    color: $theme-red;
    text-decoration: none;
    border-bottom: 0;
    display: inline-block;
    &:hover,
    &:focus,
    &:active {
      color: $text-gray;
      text-decoration: none;
    }
  }
  .content-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .btn-primary {
    background-color: transparent;
    border: 2px solid $theme-red;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1;
    padding: 11px 40px;
    border-radius: 5px;
    text-decoration: none;
    @extend .primary-transition;
    &:hover,
    &:focus,
    &:active {
      border-color: $theme-red;
      text-decoration: none;
      background-color: $theme-red;
      color: #fff;
    }
  }
  .red {
    color: $theme-red;
  }
}

.primary-transition {
  @include transitions(all .3s ease-in-out);
}

img {
  max-width: 100%;
}

@media screen and (max-width: $screen-m) {
  body {
    p, .p {
      font-size: 15px;
    }
    h1, .h1,
    h4, .h4 {
      font-size: 30px;
    }
    h2, .h2 {
      &, a {
        font-size: 25px;
      }
    }
    h3, .h3 {
      font-size: 22px;
    }
  }
}

@media screen and (max-width: $screen-s) {
  body {
    p, .p {
      font-size: 14px;
      line-height: 1.75;
    }
    h1, .h1,
    h4, .h4 {
      font-size: 25px;
    }
    h2, .h2 {
      &, a {
        font-size: 22px;
      }
    }
    h3, .h3 {
      font-size: 18px;
    }
  }
}